<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity
    Name="db5a3b28-59d4-4aef-981b-52868c81eedd"
    Version="1.0.0.0"
    Publisher="CN=Josh" />

  <mp:PhoneIdentity PhoneProductId="db5a3b28-59d4-4aef-981b-52868c81eedd" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>UnitTestApp.WindowsPhone</DisplayName>
    <PublisherDisplayName>Josh</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="default.html">

        <m3:VisualElements
                  DisplayName="UnitTestApp.WindowsPhone"
                  Square150x150Logo="images\Square150x150Logo.png"
                  Square44x44Logo="images\Square44x44Logo.png"
                  Description="UnitTestApp.WindowsPhone"
                  ForegroundText="light"
                  BackgroundColor="transparent">
            <m3:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square71x71Logo="images\Square71x71Logo.png" />
            <m3:SplashScreen Image="images\SplashScreen.png" />
        </m3:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>

</Package>
